/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f4f6;
    color: #fff; /* Changed text color to white */
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    color: #fff; /* Changed heading color to white */
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #004d40; /* Dark green background for header */
    color: white; /* White text color for header */
    padding: 20px 0;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.main-container {
    padding: 20px;
}

footer {
    text-align: center;
    background-color: #004d40; /* Dark green background for footer */
    color: white; /* White text color for footer */
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 15px 0 5px;
    font-weight: bold;
    color: #004d40; /* Dark green color for labels */
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    height: 100px;
}

input:focus, textarea:focus {
    border-color: #00796b;
    outline: none;
}

/* Button Styles */
button {
    background-color: #00796b;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

button:hover {
    background-color: #004d40;
}

/* Success & Error Message Styles */
#message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

#message.success {
    color: #fff;
    background-color: #4caf50;
}

#message.error {
    color: #fff;
    background-color: #f44336;
}

/* Responsive Design */
@media (max-width: 600px) {
    .container {
        margin: 20px;
        padding: 20px;
    }
}
